* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;

  --primary-color: rgb(12, 12, 100);
  --light-text-color: #c9c3c3;
}

html {
  scroll-behavior: smooth;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: linear-gradient(blue, rgb(38, 28, 39), rgb(12, 12, 100));
  /* color: #fff; */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif;
}
p {
  margin-bottom: 0.75rem;
}

.container h1 span {
  font-size: 4rem;
  color: rgb(191, 153, 29);
  cursor: pointer;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(./images/bg-pic.jpg);
  background-size: cover;
  background-position: center;
}
.container {
  padding: 10px 10%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  font-weight: 700;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: red;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.9s;
}
nav ul li a:hover::after {
  width: 100%;
}
.header-text h1 {
  font-size: 90px;
  margin-top: 300px;
  margin-left: 50px;
}

/* --------------about section------------------ */
#about {
  padding: 40px 0;
  color: pink;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}
.about-col-2 {
  flex-basis: 60%;
}
.about-col-2 h1 {
  color: white;
}
.about-col-2 p span {
  font-size: large;
}
.sub-title {
  font-size: 45px;
  font-weight: 800;
}
.sub-title.p {
  color: blue;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
  color: silver;
}
.tab-titles p {
  color: rgb(23, 23, 23);
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: pink;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 100%;
}
.tab-contents ul li {
  list-style: none;
  margin: 12px 0;
}

#about .section-heading {
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.tab-contents ul li * {
  color: var(--light-text-color);
}


.tab-contents ul li span {
  color: white;
  font-size: 17px;
}
.tab-contents {
  display: none;
}
.tab-contents i {
  color: rgb(69, 5, 69);
  font-size: large;
}
.tab-contents.active-tab {
  display: block;
}
.about-col-2.sub-title .p {
  font: 50px;
}

/* -------------------Services Section------------------------- */
#services {
  padding: 30px 0;
}
.container h1 {
  color: white;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  background: linear-gradient(
    rgb(41 41 189), rgb(12 16 22), rgb(29 35 80)
  );
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.services-list div img {
  border-radius: 10px;
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: white;
}
.services-list p {
  font-size: large;
  color: var(--light-text-color);
}
.services-list div a {
  text-decoration: none;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover {
  background: linear-gradient(blue, rgb(35 65 122), rgb(77 107 145 / 94%));
  transform: translateY(-10px);
}

/* ---------------Portfolio---------------- */
#portfolio {
  padding: 10px 0;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 100%;
  border-radius: inherit;
  display: block;
  height: 300px;
  object-fit: cover;
  transition: transform 0.5s;
  /* margin-bottom: 30px; */
}

.work:hover .layer {
  height: 100%;
  /* border-radius: 0 !important; */
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(blue, rgb(175, 68, 181), rgb(119, 30, 173));
  border-radius: inherit;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.work:hover img {
  transform: scale(1.1);
  border-radius: 10px;
}
/* .work:hover .layer{
    height: 100%;
    border-radius: 9px;
} */
.btn {
  display: table;
  margin: 50px auto;
  width: fit-content;
  background: linear-gradient(
    rgb(166, 166, 232),
    rgb(211, 156, 211),
    rgb(218, 157, 167)
  );
  padding: 15px 50px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  transition: background 0.1s;
}
.btn:hover {
  background: radial-gradient(blue, purple, pink);
}

/* --------------------contact-------------- */
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 10px;
}
.contact-left p i {
  color: var(--light-text-color);
  margin-right: 0px;
  font-size: 20px;
  font-weight: 700;
}
.social-images {
  margin-top: 10px;
}
.social-images a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: in line-block;
  transition: transform 0.5s;
}
.social-images a:hover {
  color: #8f1d41;
  transform: translateY(-7px);
}
.btn.btn2 {
  display: inline-block;
    background: linear-gradient(rgb(0 41 255), rgb(0 0 0), rgb(8 13 66));
    /* padding: 7px; */
    margin-top: 20px;
    color: white;
  /* padding: 7px; */
  margin-top: 20px;
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 10px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 7px;
}
form .btn2 {
  padding: 14px 60px;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}
.copyright {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background: black;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 0px;
  color: #fff;
}

/* --------------------css fro small screen------------------- */
nav .icon {
  display: none;
}
@media only screen and (max-width: 600px) {
  #header {
    background-image: url(Images/Agust-D.webp);
  }
  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  nav .icon {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: #8f1d41;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .icon {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .sub-title {
    font-size: 40px;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 {
    font-size: 14px;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
  .copyright {
    font-size: 17px;
  }
}
#msg {
  color: black;
  margin-top: -40px;
  display: block;
}

/* popup */

.popup {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#292999, rgb(45 21 165), rgb(2 2 6));
  color: white;
  display: none;
  z-index: 1000;
}
.popup-content {
  position: relative;
  padding: 20px;
}

.popup-content:not(.close-btn) {
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

/* utilities */
.text-light {
  color: var(--light-text-color) !important;
}

.text-white {
  color: white !important;
}
